/*******************重置html样式*******************/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,input,p,blockquote,th,td,form{margin:0;padding:0;}
ol,ul,li,dd,dt,dl{ list-style:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
img{border:0;}
caption,th{text-align:left;}
table{border-collapse:collapse;empty-cells:show;}
input,select,textarea{font-size:12px;}
body, html {
	margin: 0px auto;
	text-align:center;
	padding:0px;
	font-family: "宋体";
	font-size: 12px;
	color:#000;
	background:url(../images/mainimg/bg.gif) top repeat-x #ffffff;
	}
A:link {color: #000000; text-decoration: none}
A:visited {color: #000000; text-decoration: none}
A:active {color: #ff6600; text-decoration: none}
A:hover {color: #ff6600; text-decoration: none}

.blue,.blue A:link,.blue A:visited,.blue A:active,.blue A:hover{color:#235881;}
.red,.red A:link,.red A:visited,.red A:active,.red A:hover{color:#FF0000;}
.xhx{ text-decoration:underline;}

#top{height:136px; background:url(../images/mainimg/top.jpg) no-repeat center;}
#menu{width:917px; background:url(../images/mainimg/dh_bg.gif) top repeat-x; height:38px; overflow: hidden; margin:0 auto; POSITION: relative;}
#menu span{height:38px; background:url(../images/mainimg/dh_left.gif) left top no-repeat; display:block; z-index:2}
#menu span span{height:38px; background:url(../images/mainimg/dh_right.gif) right top no-repeat; display:block;}
#menu .toleft{POSITION: absolute; CURSOR: hand;width:12px; height:12px; background:url(../images/mainimg/blue.gif) -36px -141px no-repeat; display:block; TOP: 11px; left: 14px}
#menu .toright{POSITION: absolute; CURSOR: hand;width:12px; height:12px; background:url(../images/mainimg/blue.gif) -53px -141px no-repeat; display:block; TOP: 11px; right: 14px}
#menu .nav{WIDTH: 750px;POSITION: absolute;height:38px;LEFT:0px;right:0px;}
#menu .navbox{
	OVERFLOW: hidden;WIDTH:672px;LEFT:-20px;height:38px;POSITION:relative;
}
#menu .navbox .navlink{
	POSITION: absolute;LEFT:0px; margin:0px; padding:0px;WIDTH:2016px;
}

#menu .navbox .navlink UL LI {
	FLOAT: left; margin-left:12px;margin-right:12px; font:"微软雅黑"; font-size:14px; font-weight:bold; line-height:38px;
}


#menu .nav li.fgx{ background:url(../images/mainimg/fgx.gif) center no-repeat; height:38px;}
#menu .xinxi{ POSITION: absolute;width:170px; float:right; line-height:38px;right:10px;}

#content{width:917px; margin:0 auto;}
#left_content{ width:275px; float:left;}
#right_content{ width:632px; float:right;}
#bottom{clear:both; text-align:center; line-height:18px; padding:20px; vertical-align:middle;}

/*最小化、关闭按钮*/
.min{POSITION: absolute; width:12px; height:12px; background:url(../images/mainimg/blue.gif) 0px -141px no-repeat; display:block; TOP: 11px; RIGHT: 30px}
.close{POSITION: absolute; width:12px; height:12px; background:url(../images/mainimg/blue.gif) -18px -141px no-repeat; display:block; TOP: 11px; RIGHT: 12px}

/*区域头部文字偏移*/
.spanheader{width:100%; background:url(../images/mainimg/lm_bg.gif) repeat-x; height:34px; color:#235881; font-size:14px; font-weight:bold; line-height:34px; text-align:left;  vertical-align:middle; display:block; text-indent:42px;margin:0px; padding:0px;border-left:#ccc 1px solid; border-right:#ccc 1px solid;}

/*区域内容*/
.pbody{background:#fff; border:#ccc 1px solid; border-top:none; overflow:hidden; POSITION: relative;padding-bottom:7px; min-height:200px; height:100%; _height:200px; margin-bottom:7px;}



/*列表通用*/
table{
table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}
td{
word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) 需与overflow:hidden;一起使用。*/
}
.black_12_24{line-height:24px; font-size:12px; color:#000;}
.red{COLOR:#ff0000;}



/*绿色通道图标样式*/
.lstd_tb{POSITION: absolute; width:20px; height:20px; background:url(../images/mainimg/blue.gif) 0px 0px no-repeat; display:block; TOP: 6px; left: 12px}

/*我的邮件图标样式*/
.wdyj_tb{POSITION: absolute; width:26px; height:18px; background:url(../images/mainimg/blue.gif) -36px 0px no-repeat; display:block; TOP: 6px; left: 12px}

/*会议日程图标样式*/
.hyrc_tb{POSITION: absolute; width:19px; height:19px; background:url(../images/mainimg/blue.gif) -71px 0px no-repeat; display:block; TOP: 7px; left: 12px}

/*万年历图标样式*/
.wnl_tb{POSITION: absolute; width:22px; height:24px; background:url(../images/mainimg/blue.gif) -106px 0px no-repeat; display:block; TOP: 5px; left: 11px}

/*工作动态图标样式*/
.gzdt_tb{POSITION: absolute; width:21px; height:21px; background:url(../images/mainimg/blue.gif) -142px 0px no-repeat; display:block; TOP: 6px; left: 12px}

/*待办事宜图标样式*/
.dbsy_tb{POSITION: absolute; width:21px; height:21px; background:url(../images/mainimg/blue.gif) -177px 0px no-repeat; display:block; TOP: 6px; left: 12px}

/*最新公文图标样式*/
.zxgw_tb{POSITION: absolute; width:19px; height:19px; background:url(../images/mainimg/blue.gif) -213px 0px no-repeat; display:block; TOP: 7px; left: 12px}

/*通知公告图标样式*/
.tzgg_tb{POSITION: absolute; width:25px; height:26px; background:url(../images/mainimg/blue.gif) -249px 0px no-repeat; display:block; TOP: 3px; left: 10px}
