<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.nboa.dao.purchase.P_InfoMapper" >
  <resultMap id="BaseResultMap" type="com.jw.nboa.model.purchase.P_Info" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="APPLY_NAME" property="applyName" jdbcType="VARCHAR" />
    <result column="APPLY_TIME" property="applyTime" jdbcType="VARCHAR" />
    <result column="LEAD_F_VIEW" property="leadFView" jdbcType="VARCHAR" />
    <result column="LEAD_S_VIEW" property="leadSView" jdbcType="VARCHAR" />
    <result column="LEAD_T_VIEW" property="leadTView" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="CHAR" />
    <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, APPLY_ID, APPLY_NAME, APPLY_TIME, LEAD_F_VIEW, LEAD_S_VIEW, LEAD_T_VIEW, REMARK, 
    STATE, IS_DELETE, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.nboa.model.purchase.P_InfoExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from P_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jw.nboa.model.purchase.P_InfoExample" >
    delete from P_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.nboa.model.purchase.P_Info" >
    insert into P_INFO (UUID, APPLY_ID, APPLY_NAME, 
      APPLY_TIME, LEAD_F_VIEW, LEAD_S_VIEW, 
      LEAD_T_VIEW, REMARK, STATE, 
      IS_DELETE, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME)
    values (#{record.uuid,jdbcType=VARCHAR}, #{record.applyId,jdbcType=VARCHAR}, #{record.applyName,jdbcType=VARCHAR}, 
      #{record.applyTime,jdbcType=VARCHAR}, #{record.leadFView,jdbcType=VARCHAR}, #{record.leadSView,jdbcType=VARCHAR}, 
      #{record.leadTView,jdbcType=VARCHAR}, #{record.remark,jdbcType=VARCHAR}, #{record.state,jdbcType=CHAR}, 
      #{record.isDelete,jdbcType=DECIMAL}, #{record.createUser,jdbcType=VARCHAR}, #{record.createTime,jdbcType=VARCHAR}, 
      #{record.updateUser,jdbcType=VARCHAR}, #{record.updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.nboa.model.purchase.P_Info" >
    insert into P_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        UUID,
      </if>
      <if test="record.applyId != null" >
        APPLY_ID,
      </if>
      <if test="record.applyName != null" >
        APPLY_NAME,
      </if>
      <if test="record.applyTime != null" >
        APPLY_TIME,
      </if>
      <if test="record.leadFView != null" >
        LEAD_F_VIEW,
      </if>
      <if test="record.leadSView != null" >
        LEAD_S_VIEW,
      </if>
      <if test="record.leadTView != null" >
        LEAD_T_VIEW,
      </if>
      <if test="record.remark != null" >
        REMARK,
      </if>
      <if test="record.state != null" >
        STATE,
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE,
      </if>
      <if test="record.createUser != null" >
        CREATE_USER,
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME,
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.applyId != null" >
        #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyName != null" >
        #{record.applyName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null" >
        #{record.applyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.leadFView != null" >
        #{record.leadFView,jdbcType=VARCHAR},
      </if>
      <if test="record.leadSView != null" >
        #{record.leadSView,jdbcType=VARCHAR},
      </if>
      <if test="record.leadTView != null" >
        #{record.leadTView,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.isDelete != null" >
        #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.nboa.model.purchase.P_InfoExample" resultType="java.lang.Integer" >
    select count(*) from P_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update P_INFO
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.applyId != null" >
        APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyName != null" >
        APPLY_NAME = #{record.applyName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null" >
        APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.leadFView != null" >
        LEAD_F_VIEW = #{record.leadFView,jdbcType=VARCHAR},
      </if>
      <if test="record.leadSView != null" >
        LEAD_S_VIEW = #{record.leadSView,jdbcType=VARCHAR},
      </if>
      <if test="record.leadTView != null" >
        LEAD_T_VIEW = #{record.leadTView,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update P_INFO
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      APPLY_ID = #{record.applyId,jdbcType=VARCHAR},
      APPLY_NAME = #{record.applyName,jdbcType=VARCHAR},
      APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      LEAD_F_VIEW = #{record.leadFView,jdbcType=VARCHAR},
      LEAD_S_VIEW = #{record.leadSView,jdbcType=VARCHAR},
      LEAD_T_VIEW = #{record.leadTView,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=CHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>