<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.baseframe.dao.C_V_Sys_ModuletreeMapper" >
  <resultMap id="BaseResultMap" type="com.jw.baseframe.model.C_V_Sys_Moduletree" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="P_ID" property="pId" jdbcType="VARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, ID, NAME, P_ID, UNITID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.baseframe.model.C_V_Sys_ModuletreeExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_V_SYS_MODULETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  
  	     <select id="selectGroupModuleByMap" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    <![CDATA[ From(select GM.UUID,M.MODULE_ID as ID,M.MODULE_NAME as name,decode(M.PAREN_MODULE,'-1',null,M.PAREN_MODULE) as P_ID,M.UNITID from C_T_SYS_GROUP_MODULE GM
left join C_T_SYS_MODULE M
on GM.MODULE_ID=M.UUID where GM.GROUP_ID ='${groupId}' )]]> 
  </select>
  
  
  <delete id="deleteByExample" parameterType="com.jw.baseframe.model.C_V_Sys_ModuletreeExample" >
    delete from C_V_SYS_MODULETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.baseframe.model.C_V_Sys_Moduletree" >
    insert into C_V_SYS_MODULETREE (UUID, ID, NAME, 
      P_ID, UNITID)
    values (#{record.uuid,jdbcType=VARCHAR}, #{record.id,jdbcType=VARCHAR}, #{record.name,jdbcType=NVARCHAR}, 
      #{record.pId,jdbcType=VARCHAR}, #{record.unitid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.baseframe.model.C_V_Sys_Moduletree" >
    insert into C_V_SYS_MODULETREE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        UUID,
      </if>
      <if test="record.id != null" >
        ID,
      </if>
      <if test="record.name != null" >
        NAME,
      </if>
      <if test="record.pId != null" >
        P_ID,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.pId != null" >
        #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.baseframe.model.C_V_Sys_ModuletreeExample" resultType="java.lang.Integer" >
    select count(*) from C_V_SYS_MODULETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update C_V_SYS_MODULETREE
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.pId != null" >
        P_ID = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update C_V_SYS_MODULETREE
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      P_ID = #{record.pId,jdbcType=VARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>