<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.baseframe.dao.C_V_Flow_Tache_RoleuserMapper" >
  <resultMap id="BaseResultMap" type="com.jw.baseframe.model.C_V_Flow_Tache_Roleuser" >
    <result column="TACHE_ID" property="tacheId" jdbcType="VARCHAR" />
    <result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="TACHE_TRANSACTOR_SYS" property="tacheTransactorSys" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="NVARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_SORT" property="roleSort" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TACHE_ID, FLOW_ID, UNITID, TACHE_TRANSACTOR_SYS, USER_NAME, ROLE_ID, ROLE_NAME, ROLE_SORT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.baseframe.model.C_V_Flow_Tache_RoleuserExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_V_FLOW_TACHE_ROLEUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jw.baseframe.model.C_V_Flow_Tache_RoleuserExample" >
    delete from C_V_FLOW_TACHE_ROLEUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.baseframe.model.C_V_Flow_Tache_Roleuser" >
    insert into C_V_FLOW_TACHE_ROLEUSER (TACHE_ID, FLOW_ID, UNITID, 
      TACHE_TRANSACTOR_SYS, USER_NAME, 
      ROLE_ID, ROLE_NAME, ROLE_SORT
      )
    values (#{record.tacheId,jdbcType=VARCHAR}, #{record.flowId,jdbcType=VARCHAR}, #{record.unitid,jdbcType=VARCHAR}, 
      #{record.tacheTransactorSys,jdbcType=VARCHAR}, #{record.userName,jdbcType=NVARCHAR}, 
      #{record.roleId,jdbcType=VARCHAR}, #{record.roleName,jdbcType=VARCHAR}, #{record.roleSort,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jw.baseframe.model.C_V_Flow_Tache_Roleuser" >
    insert into C_V_FLOW_TACHE_ROLEUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.tacheId != null" >
        TACHE_ID,
      </if>
      <if test="record.flowId != null" >
        FLOW_ID,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
      <if test="record.tacheTransactorSys != null" >
        TACHE_TRANSACTOR_SYS,
      </if>
      <if test="record.userName != null" >
        USER_NAME,
      </if>
      <if test="record.roleId != null" >
        ROLE_ID,
      </if>
      <if test="record.roleName != null" >
        ROLE_NAME,
      </if>
      <if test="record.roleSort != null" >
        ROLE_SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.tacheId != null" >
        #{record.tacheId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowId != null" >
        #{record.flowId,jdbcType=VARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.tacheTransactorSys != null" >
        #{record.tacheTransactorSys,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleId != null" >
        #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null" >
        #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleSort != null" >
        #{record.roleSort,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.baseframe.model.C_V_Flow_Tache_RoleuserExample" resultType="java.lang.Integer" >
    select count(*) from C_V_FLOW_TACHE_ROLEUSER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update C_V_FLOW_TACHE_ROLEUSER
    <set >
      <if test="record.tacheId != null" >
        TACHE_ID = #{record.tacheId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowId != null" >
        FLOW_ID = #{record.flowId,jdbcType=VARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.tacheTransactorSys != null" >
        TACHE_TRANSACTOR_SYS = #{record.tacheTransactorSys,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null" >
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleSort != null" >
        ROLE_SORT = #{record.roleSort,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update C_V_FLOW_TACHE_ROLEUSER
    set TACHE_ID = #{record.tacheId,jdbcType=VARCHAR},
      FLOW_ID = #{record.flowId,jdbcType=VARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      TACHE_TRANSACTOR_SYS = #{record.tacheTransactorSys,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
      ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      ROLE_SORT = #{record.roleSort,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>