<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.baseframe.dao.C_V_Flow_TodotreeMapper" >
  <resultMap id="BaseResultMap" type="com.jw.baseframe.model.C_V_Flow_Todotree" >
    <result column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="PID" property="pid" jdbcType="CHAR" />
    <result column="RECEIVE_USER" property="receiveUser" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="CHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="PROPERTY" property="property" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, PID, RECEIVE_USER, FLAG, UNITID, PROPERTY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.baseframe.model.C_V_Flow_TodotreeExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_V_FLOW_TODOTREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jw.baseframe.model.C_V_Flow_TodotreeExample" >
    delete from C_V_FLOW_TODOTREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.baseframe.model.C_V_Flow_Todotree" >
    insert into C_V_FLOW_TODOTREE (ID, NAME, PID, 
      RECEIVE_USER, FLAG, UNITID, 
      PROPERTY)
    values (#{record.id,jdbcType=NVARCHAR}, #{record.name,jdbcType=NVARCHAR}, #{record.pid,jdbcType=CHAR}, 
      #{record.receiveUser,jdbcType=VARCHAR}, #{record.flag,jdbcType=CHAR}, #{record.unitid,jdbcType=VARCHAR}, 
      #{record.property,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.baseframe.model.C_V_Flow_Todotree" >
    insert into C_V_FLOW_TODOTREE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        ID,
      </if>
      <if test="record.name != null" >
        NAME,
      </if>
      <if test="record.pid != null" >
        PID,
      </if>
      <if test="record.receiveUser != null" >
        RECEIVE_USER,
      </if>
      <if test="record.flag != null" >
        FLAG,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
      <if test="record.property != null" >
        PROPERTY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="record.name != null" >
        #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.pid != null" >
        #{record.pid,jdbcType=CHAR},
      </if>
      <if test="record.receiveUser != null" >
        #{record.receiveUser,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.property != null" >
        #{record.property,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.baseframe.model.C_V_Flow_TodotreeExample" resultType="java.lang.Integer" >
    select count(*) from C_V_FLOW_TODOTREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update C_V_FLOW_TODOTREE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=CHAR},
      </if>
      <if test="record.receiveUser != null" >
        RECEIVE_USER = #{record.receiveUser,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.property != null" >
        PROPERTY = #{record.property,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update C_V_FLOW_TODOTREE
    set ID = #{record.id,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      PID = #{record.pid,jdbcType=CHAR},
      RECEIVE_USER = #{record.receiveUser,jdbcType=VARCHAR},
      FLAG = #{record.flag,jdbcType=CHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      PROPERTY = #{record.property,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>