<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.baseframe.dao.C_V_Flow_UserTacheTreeMapper" >
  <resultMap id="BaseResultMap" type="com.jw.baseframe.model.C_V_Flow_UserTacheTree" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, P_ID, NAME, UNITID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.baseframe.model.C_V_Flow_UserTacheTreeExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from C_V_FLOW_USERTACHETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <select id="selectTacheUserTreeByMap" resultMap="BaseResultMap" parameterType="map">
   	<![CDATA[ 
	select f.uuid id,t.UUID pId,u.USER_NAME as name,f.unitid 
	from C_T_FLOW_TACHE_USER f inner join
	C_T_FLOW_TACHE_INFOR t
	on f.flow_id = t.FLOW_ID 
	and f.tache_id = t.tache_id
	inner join C_T_SYS_USER u
	on f.TACHE_TRANSACTOR_SYS = u.USER_SYS_NAME
	]]>
	<if test="userid != null">
		and f.TACHE_TRANSACTOR_SYS='${userid}'
	</if>
	<if test="unitid != null">
		and f.unitid = '${unitid}'
	</if>
	<![CDATA[ 
	union all
	select t.uuid as id ,t.flow_id as pId,t.TACHE_NAME as name,f.unitid
	from C_T_FLOW_TACHE_INFOR t inner join
	 C_T_FLOW_TACHE_USER f
	on f.flow_id = t.FLOW_ID 
	and f.tache_id = t.tache_id
	]]>
	<if test="userid != null">
		and f.TACHE_TRANSACTOR_SYS='${userid}'
	</if>
	<if test="unitid != null">
		and f.unitid = '${unitid}'
	</if>
	<![CDATA[ 
	union all
	select distinct t.flow_id as id ,'-1' as pId,t.flow_name as name,f.unitid
	from C_T_FLOW_INFOR t inner join
	 C_T_FLOW_TACHE_USER f
	on f.flow_id = t.FLOW_ID 
	]]>
	<if test="userid != null">
		and f.TACHE_TRANSACTOR_SYS='${userid}'
	</if>
	<if test="unitid != null">
		and f.unitid = '${unitid}'
	</if>
  </select>
  <delete id="deleteByExample" parameterType="com.jw.baseframe.model.C_V_Flow_UserTacheTreeExample" >
    delete from C_V_FLOW_USERTACHETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.baseframe.model.C_V_Flow_UserTacheTree" >
    insert into C_V_FLOW_USERTACHETREE (ID, P_ID, NAME, 
      UNITID)
    values (#{record.id,jdbcType=VARCHAR}, #{record.pId,jdbcType=VARCHAR}, #{record.name,jdbcType=NVARCHAR}, 
      #{record.unitid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.baseframe.model.C_V_Flow_UserTacheTree" >
    insert into C_V_FLOW_USERTACHETREE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        ID,
      </if>
      <if test="record.pId != null" >
        P_ID,
      </if>
      <if test="record.name != null" >
        NAME,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.baseframe.model.C_V_Flow_UserTacheTreeExample" resultType="java.lang.Integer" >
    select count(*) from C_V_FLOW_USERTACHETREE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update C_V_FLOW_USERTACHETREE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        P_ID = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update C_V_FLOW_USERTACHETREE
    set ID = #{record.id,jdbcType=VARCHAR},
      P_ID = #{record.pId,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>