<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.magicbpm.dao.publicinformation.B_T_Ufp_BulletinMapper" >
  <resultMap id="BaseResultMap" type="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Bulletin" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="NVARCHAR" />
    <result column="USER_SYS_NAME" property="userSysName" jdbcType="VARCHAR" />
    <result column="REGDATE" property="regdate" jdbcType="VARCHAR" />
    <result column="PUBLISHDATE" property="publishdate" jdbcType="VARCHAR" />
    <result column="ENDSHOWDATE" property="endshowdate" jdbcType="VARCHAR" />
    <result column="CANCELDATE" property="canceldate" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="NVARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="EXPAND_XML" property="expandXml" jdbcType="NVARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinWithBLOBs" extends="BaseResultMap" >
    <result column="BODY" property="body" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, USER_NAME, USER_SYS_NAME, REGDATE, PUBLISHDATE, ENDSHOWDATE, CANCELDATE, TITLE, 
    STATE, EXPAND_XML, UNITID, IS_DELETE, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    BODY
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinExample" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from B_T_UFP_BULLETIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from B_T_UFP_BULLETIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from B_T_UFP_BULLETIN
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_T_UFP_BULLETIN
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinExample" >
    delete from B_T_UFP_BULLETIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinWithBLOBs" >
    insert into B_T_UFP_BULLETIN (UUID, USER_NAME, USER_SYS_NAME, 
      REGDATE, PUBLISHDATE, ENDSHOWDATE, 
      CANCELDATE, TITLE, STATE, 
      EXPAND_XML, UNITID, IS_DELETE, 
      CREATE_USER, CREATE_TIME, UPDATE_USER, 
      UPDATE_TIME, BODY)
    values (#{record.uuid,jdbcType=VARCHAR}, #{record.userName,jdbcType=NVARCHAR}, #{record.userSysName,jdbcType=VARCHAR}, 
      #{record.regdate,jdbcType=VARCHAR}, #{record.publishdate,jdbcType=VARCHAR}, #{record.endshowdate,jdbcType=VARCHAR}, 
      #{record.canceldate,jdbcType=VARCHAR}, #{record.title,jdbcType=NVARCHAR}, #{record.state,jdbcType=DECIMAL}, 
      #{record.expandXml,jdbcType=NVARCHAR}, #{record.unitid,jdbcType=VARCHAR}, #{record.isDelete,jdbcType=DECIMAL}, 
      #{record.createUser,jdbcType=VARCHAR}, #{record.createTime,jdbcType=VARCHAR}, #{record.updateUser,jdbcType=VARCHAR}, 
      #{record.updateTime,jdbcType=VARCHAR}, #{record.body,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Bulletin" >
    insert into B_T_UFP_BULLETIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        UUID,
      </if>
      <if test="record.userName != null" >
        USER_NAME,
      </if>
      <if test="record.userSysName != null" >
        USER_SYS_NAME,
      </if>
      <if test="record.regdate != null" >
        REGDATE,
      </if>
      <if test="record.publishdate != null" >
        PUBLISHDATE,
      </if>
      <if test="record.endshowdate != null" >
        ENDSHOWDATE,
      </if>
      <if test="record.canceldate != null" >
        CANCELDATE,
      </if>
      <if test="record.title != null" >
        TITLE,
      </if>
      <if test="record.state != null" >
        STATE,
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE,
      </if>
      <if test="record.createUser != null" >
        CREATE_USER,
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME,
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="record.body != null" >
        BODY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.userSysName != null" >
        #{record.userSysName,jdbcType=VARCHAR},
      </if>
      <if test="record.regdate != null" >
        #{record.regdate,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null" >
        #{record.publishdate,jdbcType=VARCHAR},
      </if>
      <if test="record.endshowdate != null" >
        #{record.endshowdate,jdbcType=VARCHAR},
      </if>
      <if test="record.canceldate != null" >
        #{record.canceldate,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        #{record.title,jdbcType=NVARCHAR},
      </if>
      <if test="record.state != null" >
        #{record.state,jdbcType=DECIMAL},
      </if>
      <if test="record.expandXml != null" >
        #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        #{record.body,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinExample" resultType="java.lang.Integer" >
    select count(*) from B_T_UFP_BULLETIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update B_T_UFP_BULLETIN
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.userSysName != null" >
        USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      </if>
      <if test="record.regdate != null" >
        REGDATE = #{record.regdate,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null" >
        PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      </if>
      <if test="record.endshowdate != null" >
        ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      </if>
      <if test="record.canceldate != null" >
        CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=NVARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=DECIMAL},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        BODY = #{record.body,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update B_T_UFP_BULLETIN
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      REGDATE = #{record.regdate,jdbcType=VARCHAR},
      PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      BODY = #{record.body,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update B_T_UFP_BULLETIN
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      REGDATE = #{record.regdate,jdbcType=VARCHAR},
      PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinWithBLOBs" >
    update B_T_UFP_BULLETIN
    <set >
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.userSysName != null" >
        USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      </if>
      <if test="record.regdate != null" >
        REGDATE = #{record.regdate,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null" >
        PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      </if>
      <if test="record.endshowdate != null" >
        ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      </if>
      <if test="record.canceldate != null" >
        CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=NVARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=DECIMAL},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        BODY = #{record.body,jdbcType=CLOB},
      </if>
    </set>
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_BulletinWithBLOBs" >
    update B_T_UFP_BULLETIN
    set USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      REGDATE = #{record.regdate,jdbcType=VARCHAR},
      PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      BODY = #{record.body,jdbcType=CLOB}
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Bulletin" >
    update B_T_UFP_BULLETIN
    set USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      USER_SYS_NAME = #{record.userSysName,jdbcType=VARCHAR},
      REGDATE = #{record.regdate,jdbcType=VARCHAR},
      PUBLISHDATE = #{record.publishdate,jdbcType=VARCHAR},
      ENDSHOWDATE = #{record.endshowdate,jdbcType=VARCHAR},
      CANCELDATE = #{record.canceldate,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=NVARCHAR},
      STATE = #{record.state,jdbcType=DECIMAL},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
</mapper>