<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.magicbpm.dao.publicinformation.B_T_Ufp_Address_BookMapper" >
  <resultMap id="BaseResultMap" type="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_Book" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="NVARCHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="UNIT_NAME" property="unitName" jdbcType="NVARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="NVARCHAR" />
    <result column="POSITION_NAME" property="positionName" jdbcType="NVARCHAR" />
    <result column="OFFICE_PHONE" property="officePhone" jdbcType="VARCHAR" />
    <result column="HOME_PHONE" property="homePhone" jdbcType="VARCHAR" />
    <result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="VIRTUAL_PHONE" property="virtualPhone" jdbcType="VARCHAR" />
    <result column="FAX_PHONE" property="faxPhone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
    <result column="USERCOPY_SYS_NAME" property="usercopySysName" jdbcType="VARCHAR" />
    <result column="USERCOPY_UNIT_ID" property="usercopyUnitId" jdbcType="VARCHAR" />
    <result column="IS_FROM_UNITBOOK" property="isFromUnitbook" jdbcType="DECIMAL" />
    <result column="BELONGS_USER" property="belongsUser" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="EXPAND_XML" property="expandXml" jdbcType="NVARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, USER_NAME, SORT, UNIT_NAME, DEPT_NAME, POSITION_NAME, OFFICE_PHONE, HOME_PHONE, 
    MOBILE_PHONE, VIRTUAL_PHONE, FAX_PHONE, EMAIL, CATEGORY_ID, REMARK, USERCOPY_SYS_NAME, 
    USERCOPY_UNIT_ID, IS_FROM_UNITBOOK, BELONGS_USER, SEX, EXPAND_XML, UNITID, IS_DELETE, 
    CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_BookExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from B_T_UFP_ADDRESS_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_T_UFP_ADDRESS_BOOK
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_T_UFP_ADDRESS_BOOK
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_BookExample" >
    delete from B_T_UFP_ADDRESS_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_Book" >
    insert into B_T_UFP_ADDRESS_BOOK (UUID, USER_NAME, SORT, 
      UNIT_NAME, DEPT_NAME, POSITION_NAME, 
      OFFICE_PHONE, HOME_PHONE, MOBILE_PHONE, 
      VIRTUAL_PHONE, FAX_PHONE, EMAIL, 
      CATEGORY_ID, REMARK, USERCOPY_SYS_NAME, 
      USERCOPY_UNIT_ID, IS_FROM_UNITBOOK, 
      BELONGS_USER, SEX, EXPAND_XML, 
      UNITID, IS_DELETE, CREATE_USER, 
      CREATE_TIME, UPDATE_USER, UPDATE_TIME
      )
    values (#{record.uuid,jdbcType=VARCHAR}, #{record.userName,jdbcType=NVARCHAR}, #{record.sort,jdbcType=DECIMAL}, 
      #{record.unitName,jdbcType=NVARCHAR}, #{record.deptName,jdbcType=NVARCHAR}, #{record.positionName,jdbcType=NVARCHAR}, 
      #{record.officePhone,jdbcType=VARCHAR}, #{record.homePhone,jdbcType=VARCHAR}, #{record.mobilePhone,jdbcType=VARCHAR}, 
      #{record.virtualPhone,jdbcType=VARCHAR}, #{record.faxPhone,jdbcType=VARCHAR}, #{record.email,jdbcType=VARCHAR}, 
      #{record.categoryId,jdbcType=VARCHAR}, #{record.remark,jdbcType=NVARCHAR}, #{record.usercopySysName,jdbcType=VARCHAR}, 
      #{record.usercopyUnitId,jdbcType=VARCHAR}, #{record.isFromUnitbook,jdbcType=DECIMAL}, 
      #{record.belongsUser,jdbcType=VARCHAR}, #{record.sex,jdbcType=VARCHAR}, #{record.expandXml,jdbcType=NVARCHAR}, 
      #{record.unitid,jdbcType=VARCHAR}, #{record.isDelete,jdbcType=DECIMAL}, #{record.createUser,jdbcType=VARCHAR}, 
      #{record.createTime,jdbcType=VARCHAR}, #{record.updateUser,jdbcType=VARCHAR}, #{record.updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_Book" >
    insert into B_T_UFP_ADDRESS_BOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        UUID,
      </if>
      <if test="record.userName != null" >
        USER_NAME,
      </if>
      <if test="record.sort != null" >
        SORT,
      </if>
      <if test="record.unitName != null" >
        UNIT_NAME,
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME,
      </if>
      <if test="record.positionName != null" >
        POSITION_NAME,
      </if>
      <if test="record.officePhone != null" >
        OFFICE_PHONE,
      </if>
      <if test="record.homePhone != null" >
        HOME_PHONE,
      </if>
      <if test="record.mobilePhone != null" >
        MOBILE_PHONE,
      </if>
      <if test="record.virtualPhone != null" >
        VIRTUAL_PHONE,
      </if>
      <if test="record.faxPhone != null" >
        FAX_PHONE,
      </if>
      <if test="record.email != null" >
        EMAIL,
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="record.remark != null" >
        REMARK,
      </if>
      <if test="record.usercopySysName != null" >
        USERCOPY_SYS_NAME,
      </if>
      <if test="record.usercopyUnitId != null" >
        USERCOPY_UNIT_ID,
      </if>
      <if test="record.isFromUnitbook != null" >
        IS_FROM_UNITBOOK,
      </if>
      <if test="record.belongsUser != null" >
        BELONGS_USER,
      </if>
      <if test="record.sex != null" >
        SEX,
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE,
      </if>
      <if test="record.createUser != null" >
        CREATE_USER,
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME,
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.sort != null" >
        #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.unitName != null" >
        #{record.unitName,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptName != null" >
        #{record.deptName,jdbcType=NVARCHAR},
      </if>
      <if test="record.positionName != null" >
        #{record.positionName,jdbcType=NVARCHAR},
      </if>
      <if test="record.officePhone != null" >
        #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.homePhone != null" >
        #{record.homePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualPhone != null" >
        #{record.virtualPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.faxPhone != null" >
        #{record.faxPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.usercopySysName != null" >
        #{record.usercopySysName,jdbcType=VARCHAR},
      </if>
      <if test="record.usercopyUnitId != null" >
        #{record.usercopyUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.isFromUnitbook != null" >
        #{record.isFromUnitbook,jdbcType=DECIMAL},
      </if>
      <if test="record.belongsUser != null" >
        #{record.belongsUser,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_BookExample" resultType="java.lang.Integer" >
    select count(*) from B_T_UFP_ADDRESS_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update B_T_UFP_ADDRESS_BOOK
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.unitName != null" >
        UNIT_NAME = #{record.unitName,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      </if>
      <if test="record.positionName != null" >
        POSITION_NAME = #{record.positionName,jdbcType=NVARCHAR},
      </if>
      <if test="record.officePhone != null" >
        OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.homePhone != null" >
        HOME_PHONE = #{record.homePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualPhone != null" >
        VIRTUAL_PHONE = #{record.virtualPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.faxPhone != null" >
        FAX_PHONE = #{record.faxPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.usercopySysName != null" >
        USERCOPY_SYS_NAME = #{record.usercopySysName,jdbcType=VARCHAR},
      </if>
      <if test="record.usercopyUnitId != null" >
        USERCOPY_UNIT_ID = #{record.usercopyUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.isFromUnitbook != null" >
        IS_FROM_UNITBOOK = #{record.isFromUnitbook,jdbcType=DECIMAL},
      </if>
      <if test="record.belongsUser != null" >
        BELONGS_USER = #{record.belongsUser,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update B_T_UFP_ADDRESS_BOOK
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      UNIT_NAME = #{record.unitName,jdbcType=NVARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      POSITION_NAME = #{record.positionName,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      HOME_PHONE = #{record.homePhone,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      VIRTUAL_PHONE = #{record.virtualPhone,jdbcType=VARCHAR},
      FAX_PHONE = #{record.faxPhone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=NVARCHAR},
      USERCOPY_SYS_NAME = #{record.usercopySysName,jdbcType=VARCHAR},
      USERCOPY_UNIT_ID = #{record.usercopyUnitId,jdbcType=VARCHAR},
      IS_FROM_UNITBOOK = #{record.isFromUnitbook,jdbcType=DECIMAL},
      BELONGS_USER = #{record.belongsUser,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_Book" >
    update B_T_UFP_ADDRESS_BOOK
    <set >
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.unitName != null" >
        UNIT_NAME = #{record.unitName,jdbcType=NVARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      </if>
      <if test="record.positionName != null" >
        POSITION_NAME = #{record.positionName,jdbcType=NVARCHAR},
      </if>
      <if test="record.officePhone != null" >
        OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.homePhone != null" >
        HOME_PHONE = #{record.homePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilePhone != null" >
        MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.virtualPhone != null" >
        VIRTUAL_PHONE = #{record.virtualPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.faxPhone != null" >
        FAX_PHONE = #{record.faxPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.usercopySysName != null" >
        USERCOPY_SYS_NAME = #{record.usercopySysName,jdbcType=VARCHAR},
      </if>
      <if test="record.usercopyUnitId != null" >
        USERCOPY_UNIT_ID = #{record.usercopyUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.isFromUnitbook != null" >
        IS_FROM_UNITBOOK = #{record.isFromUnitbook,jdbcType=DECIMAL},
      </if>
      <if test="record.belongsUser != null" >
        BELONGS_USER = #{record.belongsUser,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_Address_Book" >
    update B_T_UFP_ADDRESS_BOOK
    set USER_NAME = #{record.userName,jdbcType=NVARCHAR},
      SORT = #{record.sort,jdbcType=DECIMAL},
      UNIT_NAME = #{record.unitName,jdbcType=NVARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=NVARCHAR},
      POSITION_NAME = #{record.positionName,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      HOME_PHONE = #{record.homePhone,jdbcType=VARCHAR},
      MOBILE_PHONE = #{record.mobilePhone,jdbcType=VARCHAR},
      VIRTUAL_PHONE = #{record.virtualPhone,jdbcType=VARCHAR},
      FAX_PHONE = #{record.faxPhone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=NVARCHAR},
      USERCOPY_SYS_NAME = #{record.usercopySysName,jdbcType=VARCHAR},
      USERCOPY_UNIT_ID = #{record.usercopyUnitId,jdbcType=VARCHAR},
      IS_FROM_UNITBOOK = #{record.isFromUnitbook,jdbcType=DECIMAL},
      BELONGS_USER = #{record.belongsUser,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
</mapper>