<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.magicbpm.dao.publicinformation.B_T_Ufp_DutyManagementMapper" >
  <resultMap id="BaseResultMap" type="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagement" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="DUTY_TIME" property="dutyTime" jdbcType="VARCHAR" />
    <result column="DUTY_USER" property="dutyUser" jdbcType="VARCHAR" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="VARCHAR" />
    <result column="YEARS" property="years" jdbcType="VARCHAR" />
    <result column="WEEKS" property="weeks" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="MONTH" property="month" jdbcType="VARCHAR" />
    <result column="IFCHECK" property="ifcheck" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="VARCHAR" />
    <result column="EXPAND_XML" property="expandXml" jdbcType="NVARCHAR" />
    <result column="UNITID" property="unitid" jdbcType="VARCHAR" />
    <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, DUTY_TIME, DUTY_USER, CHECK_TIME, YEARS, WEEKS, YEAR, MONTH, IFCHECK, SORT, 
    EXPAND_XML, UNITID, IS_DELETE, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagementExample" >
    <foreach collection="example.oredCriteria" item="criteria" separator="or" />
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
          SELECT 
          <include refid="Base_Column_List" />
           FROM ( SELECT A.
          <include refid="Base_Column_List" />
           , ROWNUM AS con FROM ( 
        </if>
      </foreach>
    </if>
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from B_T_UFP_DUTYMANAGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="criteria.valid" >
      <foreach collection="criteria.criteria" item="criterion" >
        <if test="criterion.limitValue" >
           ) A  <![CDATA[WHERE ROWNUM <= ${criterion.secondValue}]]> ) B <![CDATA[WHERE B.con >= ${criterion.value} ]]>
        </if>
      </foreach>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from B_T_UFP_DUTYMANAGEMENT
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from B_T_UFP_DUTYMANAGEMENT
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagementExample" >
    delete from B_T_UFP_DUTYMANAGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagement" >
    insert into B_T_UFP_DUTYMANAGEMENT (UUID, DUTY_TIME, DUTY_USER, 
      CHECK_TIME, YEARS, WEEKS, 
      YEAR, MONTH, IFCHECK, 
      SORT, EXPAND_XML, UNITID, 
      IS_DELETE, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME)
    values (#{record.uuid,jdbcType=VARCHAR}, #{record.dutyTime,jdbcType=VARCHAR}, #{record.dutyUser,jdbcType=VARCHAR}, 
      #{record.checkTime,jdbcType=VARCHAR}, #{record.years,jdbcType=VARCHAR}, #{record.weeks,jdbcType=VARCHAR}, 
      #{record.year,jdbcType=VARCHAR}, #{record.month,jdbcType=VARCHAR}, #{record.ifcheck,jdbcType=VARCHAR}, 
      #{record.sort,jdbcType=VARCHAR}, #{record.expandXml,jdbcType=NVARCHAR}, #{record.unitid,jdbcType=VARCHAR}, 
      #{record.isDelete,jdbcType=DECIMAL}, #{record.createUser,jdbcType=VARCHAR}, #{record.createTime,jdbcType=VARCHAR}, 
      #{record.updateUser,jdbcType=VARCHAR}, #{record.updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagement" >
    insert into B_T_UFP_DUTYMANAGEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        UUID,
      </if>
      <if test="record.dutyTime != null" >
        DUTY_TIME,
      </if>
      <if test="record.dutyUser != null" >
        DUTY_USER,
      </if>
      <if test="record.checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="record.years != null" >
        YEARS,
      </if>
      <if test="record.weeks != null" >
        WEEKS,
      </if>
      <if test="record.year != null" >
        YEAR,
      </if>
      <if test="record.month != null" >
        MONTH,
      </if>
      <if test="record.ifcheck != null" >
        IFCHECK,
      </if>
      <if test="record.sort != null" >
        SORT,
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML,
      </if>
      <if test="record.unitid != null" >
        UNITID,
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE,
      </if>
      <if test="record.createUser != null" >
        CREATE_USER,
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME,
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.uuid != null" >
        #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyTime != null" >
        #{record.dutyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyUser != null" >
        #{record.dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        #{record.checkTime,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null" >
        #{record.years,jdbcType=VARCHAR},
      </if>
      <if test="record.weeks != null" >
        #{record.weeks,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.ifcheck != null" >
        #{record.ifcheck,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagementExample" resultType="java.lang.Integer" >
    select count(*) from B_T_UFP_DUTYMANAGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update B_T_UFP_DUTYMANAGEMENT
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyTime != null" >
        DUTY_TIME = #{record.dutyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyUser != null" >
        DUTY_USER = #{record.dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        CHECK_TIME = #{record.checkTime,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null" >
        YEARS = #{record.years,jdbcType=VARCHAR},
      </if>
      <if test="record.weeks != null" >
        WEEKS = #{record.weeks,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.ifcheck != null" >
        IFCHECK = #{record.ifcheck,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update B_T_UFP_DUTYMANAGEMENT
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      DUTY_TIME = #{record.dutyTime,jdbcType=VARCHAR},
      DUTY_USER = #{record.dutyUser,jdbcType=VARCHAR},
      CHECK_TIME = #{record.checkTime,jdbcType=VARCHAR},
      YEARS = #{record.years,jdbcType=VARCHAR},
      WEEKS = #{record.weeks,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=VARCHAR},
      IFCHECK = #{record.ifcheck,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=VARCHAR},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagement" >
    update B_T_UFP_DUTYMANAGEMENT
    <set >
      <if test="record.dutyTime != null" >
        DUTY_TIME = #{record.dutyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyUser != null" >
        DUTY_USER = #{record.dutyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.checkTime != null" >
        CHECK_TIME = #{record.checkTime,jdbcType=VARCHAR},
      </if>
      <if test="record.years != null" >
        YEARS = #{record.years,jdbcType=VARCHAR},
      </if>
      <if test="record.weeks != null" >
        WEEKS = #{record.weeks,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.month != null" >
        MONTH = #{record.month,jdbcType=VARCHAR},
      </if>
      <if test="record.ifcheck != null" >
        IFCHECK = #{record.ifcheck,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.expandXml != null" >
        EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      </if>
      <if test="record.unitid != null" >
        UNITID = #{record.unitid,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null" >
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.createUser != null" >
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jw.magicbpm.model.publicinformation.B_T_Ufp_DutyManagement" >
    update B_T_UFP_DUTYMANAGEMENT
    set DUTY_TIME = #{record.dutyTime,jdbcType=VARCHAR},
      DUTY_USER = #{record.dutyUser,jdbcType=VARCHAR},
      CHECK_TIME = #{record.checkTime,jdbcType=VARCHAR},
      YEARS = #{record.years,jdbcType=VARCHAR},
      WEEKS = #{record.weeks,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      MONTH = #{record.month,jdbcType=VARCHAR},
      IFCHECK = #{record.ifcheck,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=VARCHAR},
      EXPAND_XML = #{record.expandXml,jdbcType=NVARCHAR},
      UNITID = #{record.unitid,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    where UUID = #{record.uuid,jdbcType=VARCHAR}
  </update>
</mapper>