<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.magicbpm.dao.publicinformation.B_V_Ufp_MateriauseamountMapper" >
  <resultMap id="BaseResultMap" type="com.jw.magicbpm.model.publicinformation.B_V_Ufp_Materiauseamount" >
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="UPFREQUENCY" property="upfrequency" jdbcType="DECIMAL" />
    <result column="DOWNFREQUENCY" property="downfrequency" jdbcType="DECIMAL" />
  </resultMap>
  <select id="selectByExample" parameterType="map" statementType="STATEMENT"
    resultMap="BaseResultMap">
    <![CDATA[SELECT user_id,upfrequency,downfrequency FROM ${tableName}]]>
    </select>
</mapper>